[2019-02-23 18:19] leandroruel opened #6 "route for login"
where is the route for issue the token? i need build it myself? when i type `php artisan route:list` i don't see any route for token, just some GET and DELETE

[2019-02-24 12:20] specialtactics commented on #6
Hey there

A better source of truth for routes is the routes/api.php file, because Laravel's route list command won't work with dingo's routing properly.

The auth route to get a token is the following one:

[code]

So it would be GET */auth/jwt/token*

I actually plan to include a postman collection to make things a bit clearer. The way to pass credentials on this route is the Authorization heade

[2019-02-26 09:42] lloricode commented on #6
hi any update?

[2019-02-26 12:02] specialtactics commented on #6
@lloricode I replied to the question just above, do you have any further question on this topic?

[2019-02-27 04:47] lloricode commented on #6
@specialtactics  can we have this?

[2019-02-27 05:28] specialtactics commented on #6
@lloricode Sure, I will add it this weekend, so check on Monday !

I will close this since original issue was resolved.

[2019-02-27 05:28] #6 closed, assigned to nobody

[2019-02-27 05:52] lloricode commented on #6
@specialtactics :+1: Thanks :)

[2019-02-28 02:20] leandroruel commented on #6
after go to Dingo docs i found this command:
`$ php artisan api:routes` so it listed the routes created with Dingo.

[2019-03-10 00:15] lloricode opened #7 "Suggest to use"
data layer https://github.com/andersao/l5-repository
acl https://github.com/spatie/laravel-permission
 @specialtactics :+1:

[2019-03-10 00:15] lloricode commented on #7
if it possible also to add laravel passport?

[2019-03-10 00:16] lloricode commented on #7
i have a lumen version https://github.com/lloricode/lumen-dingo-boilerplate with dingo

[2019-03-13 18:41] sintsov opened #8 "Duplicate license"
Duplicate record in composer.json "license": "MIT",

[2019-03-14 03:27] specialtactics commented on #8
Thanks @sintsov removed

[2019-03-14 03:27] #8 closed, assigned to nobody

[2019-03-14 03:34] specialtactics commented on #7
Thanks for the suggestions @lloricode !

I think the repository package will be quite incompatible with what this boilerplate does.

I'll have a look at the permissions package and think about the best way to integrate it. Currently this boilerplate already has roles, and you can specify permissions using the laravel policies, which is a pretty standard way to go. I think any extension to this wil

[2019-03-14 04:34] lloricode commented on #7
@specialtactics :100:

[2019-03-14 04:34] #7 closed, assigned to nobody

[2019-03-19 16:10] minkbear opened #9 "Got Error transform() must be an instance of Specialtactics\\L5Api\\Transformers\\Object, instance of stdClass given"
Using version https://github.com/specialtactics/laravel5-api-boilerplate/commit/241d8f198eaa5d9418e12fb10ca02576004e3d79

ERROR

`Argument 1 passed to Specialtactics\\L5Api\\Transformers\\RestfulTransformer::transform() must be an instance of Specialtactics\\L5Api\\Transformers\\Object, instance of stdClass given, called in /var/www/job/vendor/league/fractal/src/Scope.php on line 407`

DEBUG INFO

[2019-03-19 18:47] minkbear commented on #9
fix at https://github.com/specialtactics/l5-api/blob/3a172f27f8a50130e6794373c826ceda5b9719d5/src/Transformers/RestfulTransformer.php#L23

from

`public function transform(Object $object)`

to

`public function transform($object)`

[2019-03-19 22:44] specialtactics commented on #9
Hi @minkbear I think you are actually not using it correctly.

What gets passed to the transformer should always be an object. Dingo wise, if you return an item it will be the eloquent model, and if its a collection it will be an eloquent collection. Alternatively, you can create an std class with arbitrary data, but that is generally not what you would do for APIs.

Can you explain more what you

[2019-03-20 09:51] minkbear commented on #9
@specialtactics
Thank you for yous awsome boilerplate, It saves my times a lot.

I just downloaded your laravel5-api-boilerplate (revision https://github.com/specialtactics/laravel5-api-boilerplate/commit/241d8f198eaa5d9418e12fb10ca02576004e3d79) without modify anything.
and try to access http://my.api/auth/jwt/token then I got the error.

So my AuthController.php is the same as https://github.com

[2019-03-20 23:09] specialtactics commented on #9
Hey there @minkbear

Thanks, after re-reading that error and looking at your PHP version I've realised what's happened, which is that the code actually requires PHP 7.2, and you are running 7.1. I have changed it slightly to make it backwards compatible with 7.1 and pushed the change (but not tagged it yet).

Can you please try this locally and tell me if that fixes your issue?
https://github.com/

[2019-03-21 14:03] specialtactics commented on #6
Just an update, this has taken me way longer than it should because it didn't take very long but... I just wanted to go over the collection to clean it up a bit and create an environment as well.

So they have been added here:
https://github.com/specialtactics/laravel5-api-boilerplate/tree/master/docs/postman

[2019-03-22 04:37] minkbear commented on #9
Hi @specialtactics

Your code (https://github.com/specialtactics/l5-api/commit/4e3edf58950cecfb19412ba0b5ba3dbd9ea82fed)  fix my issue. no error anymore.

Thank you.

[2019-03-22 04:55] specialtactics commented on #9
Great @minkbear I've tagged that as 0.0.10 now.

[2019-03-22 04:55] #9 closed, assigned to nobody

[2019-03-24 04:17] Javier-Rotelli opened #11 "Class Specialtactics\L5Api\Http\Middleware\SnakeCaseInputParameterKeys does not exist"
Cloned today, after running the commands in the page i still find this error.

taking a peak at `\Specialtactics\L5Api\Http\Middleware\SnakeCase`
[code]

so maybe this it's a typo on l5-api repo.

after renaming changing this:

[code]

it worked

[2019-03-24 05:34] specialtactics commented on #11
Hey there

This is really strange, but I think what happened here was that one of my symlinks to my l5-api local install got deleted and I forgot to update the package in that case. It should be fixed now, can you please update your l5-api package?

Thanks for reporting this btw !

[2019-03-24 14:36] Javier-Rotelli commented on #11
That was fast. 🎉

[2019-03-25 00:19] specialtactics commented on #11
Glad to hear it's fixed :smile:

[2019-03-25 00:19] #11 closed, assigned to specialtactics

[2019-03-25 17:07] 413n opened #12 "Telescope Error"
Installing the boilerplate from scratch it will give an error that can be solved updating the *laravel/telescope* version to 2.0 in composer

[2019-03-26 01:03] specialtactics commented on #12
Hi there @hwmb

Thanks for reporting this, I think this is the only thing I missed during the 5.8 upgrade ! I also updated the collision dep as Laravel has recently upped that to v3.

[2019-03-26 01:03] #12 closed, assigned to nobody

[2019-03-26 01:22] 413n opened #13 "JWT"
I'm writing here not because there is an issue, but just for know a thing that keeps me blocked.
I'm pretty new to JWT, and while building all the databases and understanding this beautiful boilerplate you created, I got stuck while trying to authenticate for get a token.
I created a User in a separated method, then I tried to login using Postman putting the Accept header and the Basic Auth with t

[2019-03-26 06:01] specialtactics commented on #13
Hey @hwmb there is an example collection and environment in the docs/ directory of the repo. I would recommend you import both of those into postman, then make sure you update the HOST env variable based on whatever your local setup is, and begin using those.

There is an Auth folder with an auth route, and that gives you an idea of how the auth should work, and hopefully that will give you enough

[2019-03-26 16:39] 413n commented on #13
I got really thank you for the support and the amazing boilerplate you created! It saves alot of time from reinventing the wheel.
I don't know why yesterday it was giving me that error but know that I recloned the repo and pushed the changes, it works and it's great!
Thanks @specialtactics !

[2019-03-26 16:39] #13 closed, assigned to specialtactics

[2019-03-26 17:05] specialtactics commented on #13
Awesome, great to hear !

[2019-04-02 17:14] wrabit opened #14 "ID vs UUID"
More a question than a bug, I am eyeing up your solution to migrate to from my current API setup.

I currently use a sequential ID for each entity and currently request a row using that and an organisation id.

i.e. tbl systems:

[code]

I do this so the org has their own 1 based, scoped id's for each entity and I'm using this in the url like `systems/1`.

I notice this implementation uses UUID, c

[2019-04-03 04:40] specialtactics commented on #14
Hi @williamabbott

It's not completely clear to me what the issue is from what you've said (maybe you can post more of your schema and queries). But by the sounds of it, it seems like a system managing entitites, where you want to segregate them in all cases by this org ID.

In this case, I think it would be fine if you were to just replace both the id of the entity and the org with UUIDs, and mai

[2019-04-03 06:08] wrabit commented on #14
Thanks ok so I have many entities including Process, System, Risk, etc. This is an example table.

[code]

The seq number is used in urls for entities and acts as the public id to the org in their admin views. It also helps with default ordering of rows in their admin tables.

At the moment on the backed I am grabbing the entity based on an api query i.e. `GET api/process/1` and would do this by (

[2019-04-03 10:09] specialtactics commented on #14
@williamabbott

If you mean to actually use auto-increment IDs with this boilerplate, I would not recommend that.

In theory, I think it would be as easy as changing the $incrementing attribute of the model to true and $keyType to int, and then you should get what you want. You can do this in the BaseModel class. However I am not sure what other repercussions it will have, but you can give that a

[2019-04-03 11:44] wrabit commented on #14
@specialtactics I would like to keep a simple numbering system for org's entities so they are easily referenceable online or offline. It's not the table's primary key, just a sequential number scoped to the entity and the organisation. For consistency I am using this in the url when they are on the front end. Also, I am currently using this sequential number for api calls but always doing so with

[2019-04-03 13:29] specialtactics commented on #14
Hi @williamabbott - that sounds like a good way to go.

Correct.

Performance wise, not a big deal. It is slower, but it is not a noticable difference until you get into hundreds of millions of records. Of course the mileage you get does depend on your use cases and queries, but if you are doing just lookups by the primary key, it will make no real difference.

One note is that PostgreSQL is more

[2019-04-04 20:52] ellisio commented on #6
For anyone else discovering this ticket, and having issues, make sure you set the `JWT_TTL` in your `.env`. I forgot to set mine and burned an hour trying to figure out why I was getting "Token has expired" errors on this request. 😭

[2019-04-04 23:41] specialtactics commented on #6
Thanks @ellisio I will put this somewhere in the docs or maybe even the default .env file

[2019-04-05 03:33] leandroruel commented on #6
hey @ellisio how to generate the value of JWT_TTL?

[2019-04-05 04:16] specialtactics commented on #6
@leandroruel It's actually just a config in the .env file.

However upon further review, in any case - if it is not set, it should default to 60 minutes (this is in the config/jwt.php). Maybe make sure you are using an up-to-date vesion of tymon/jwt package. If you do a composer update (without having modified the composer.json to change dependency versions), then that should do it.

[2019-04-05 04:56] leandroruel commented on #6
oh! i understand now! for some reason, if you miss `JWT_REFRESH_TTL`  you get **JWT payload does not contain the required claims** but now is working

[2019-04-05 05:04] specialtactics commented on #6
That's rather interesting @leandroruel  - did you add that config to your .env and leave it blank or something? I have never even used it (as in specifically changed the config), and never have had problems in any project.

[2019-04-05 05:06] leandroruel commented on #6
i put it in my .env file

[2019-04-05 15:17] leandroruel commented on #6
forget it, it was just a "." at "JWT_TTL=60." fixed it, don't need JWT_REFRESH_TTL

[2019-04-18 20:50] leandroruel opened #15 "what happens after generate the controller and model?"
i generated the controllers and models using the artisan command recommended at docs, but I noticed that the UserController does not have an index, show, update and delete methods but they still works under the hood anyway, I looked at `routes/api.php`, and saw all methods in a different pattern like get, getAll, put, path and delete using HTTP terms, my question is, those methods are auto-generat

[2019-04-19 03:37] leandroruel commented on #15
nevermind, now i give a close look at the base controller and found those methods

[2019-04-19 03:37] #15 closed, assigned to nobody

[2019-04-19 03:38] leandroruel commented on #15
i give a close look at the BaseController and found the methods get, getAll...

[2019-04-19 07:46] specialtactics commented on #15
Yep, they are in the RestfulController in the l5-api package. They follow the HTTP method naming convention.

[2019-04-25 20:35] leandroruel opened #16 "display errors"
how i should return error messages it has anything documented about that? like, i'm doing a function to return followers  and in my UserController i return just:
[code]

any pattern?

[2019-04-26 05:21] specialtactics commented on #16
Hi @leandroruel

Basically just throw the relevant http exception with whatever message you want. There are many HTTP exceptions in Symphony's http kernel, and some more in Dingo.

Have a look at boilerplate code, there are plenty of examples in the controllers.

[2019-04-26 05:27] leandroruel commented on #16
thank you, found it! shared this repo in my twitter too

[2019-04-26 06:29] specialtactics commented on #16
Awesome, thanks @leandroruel ! :smile:

[2019-04-26 06:29] #16 closed, assigned to nobody

[2019-05-03 09:09] sunder6218 opened #17 "session id changes with every request"
Hey, i have been building my api system on top of your boilerplate, which saved me a huge amount of time, but im having trouble after authentication, the AUTH works fine and i get the token in response, but in my API i have set a session variable and its active only for that request , in the consequent request the session is flushed out and i get a different token in response. i have enabled Sessi

[2019-05-04 08:39] specialtactics commented on #17
Hi @sunder6218 - REST is supposed to be *stateless* - it does not make any sense to have a "session" with the consumers of your API, because there is no reliable way to track it, and the whole concept of REST APIs is that they are not meant to have sessions with the client.

[2019-05-29 09:31] egdavid opened #18 "Unauthorized Login"
Hello,

First of all, thanks for this great boilerplate, I think it's gonna help a lot in a short future, you did an amazin job!

But I'm struggling with the authentication system.

I've been using the collection and environment issued inside the /docs directory to manage my requests from Postman but I keep getting the following response when hitting the Auth/LoginasAdmin request:

[code]

Any ide

[2019-05-29 10:23] egdavid commented on #18
I'm feeling dumb resolving the issue this way. There was a typo in the password variable on Postman.
*facepalm*

[2019-05-29 10:23] #18 closed, assigned to nobody

[2019-05-30 04:14] specialtactics commented on #18
No worries! Glad it was trivial :smile:

[2019-05-30 04:15] #17 closed, assigned to nobody

[2019-05-30 04:15] specialtactics commented on #17
Closed due to no response.

[2019-05-30 04:16] #14 closed, assigned to specialtactics

[2019-06-01 21:39] egdavid opened #19 "Suggestion: Auth0 implementation"
Any thoughts on implementing the [Laravel Auth0 ](https://github.com/auth0/laravel-auth0) package ?
Auth0 is regularly used by api consumers and it could be great making endpoints compatible with this authentication system.

[2019-06-02 08:47] specialtactics commented on #19
Hey there

Thanks for the suggestion, it is actually on the cards to make this package integrated with Passport, and so I will add Auth0 to that as well :+1:

[2019-06-03 09:58] egdavid commented on #19
@specialtactics thanks for the answer.

I've integrated the Auth0 JWT management and I can now login using Auth0 (Facebook, Google or anything else) and use the TokenId to call API boilerplate's endpoints.

I'm just worried about a little thing: can you confirm that I can completely get rid of the api.auth middleware ? Since my SPA wont use or make any crud request for the users table on my Larave

[2019-06-04 00:18] specialtactics commented on #19
@roasted-toast I am not use, the underlying dingo package relies on api.auth, if you replace it, then whatever you replace it with has to provide an equivalent implementation of authentication, and work with helpers like auth()

[2019-06-13 09:46] sunder6218 commented on #17
Thank you , i have changed the approach accordingly to better suit the API.

[2019-07-20 12:03] connecteev opened #23 "[BUG] All links in wiki "Table of Contents" are not accessible"
All links in wiki "Table of Contents" are not accessible
https://github.com/specialtactics/laravel5-api-boilerplate/wiki

Examples:
https://github.com/specialtactics/l5-api-boilerplate/wiki/Generators
https://github.com/specialtactics/l5-api-boilerplate/wiki/Validation

Not a huge issue since clicking on "pages" works fine, but thought I'd let you know

[2019-07-20 12:31] connecteev commented on #19
@specialtactics +1 for https://laravel.com/docs/master/passport
I know Auth0 makes it simple also but I have no idea why indie makers and devs would use it, they charge per user, and it's not cheap either 🗡
Out of curiosity what does this repo use now for API auth, if not passport?

[2019-07-21 02:43] specialtactics commented on #23
Hi there, thanks for reporting!

The Generators link needed to be updated, I've done that now. Validation actually does not exist, that's why it's not accessible. I will create a placeholder page for it to remove the confusion.

[2019-07-21 02:43] #23 closed, assigned to nobody

[2019-07-21 02:56] connecteev commented on #23
Awesome, sounds good :) thanks for the quick turn

[2019-07-21 08:41] egdavid commented on #19
A JWT Auth system is implemented within the boilerplate.

[2019-07-21 09:59] connecteev commented on #19
@egdavid got it. Love to see support for Laravel passport.

[2019-07-21 23:23] specialtactics commented on #19
It will definitely come, do not worry guys :smile:

Right now the main trouble for me is that there's a lot of work on the roadmap, and trying to priorotise the easy wins.

Right now, the built-in JWT will suffice for 80% of use cases. Next, I want to write HMAC authentication, which will take some effort because I don't think there are any maintained laravel auth hmac implementations, but it's ve

[2019-07-21 23:40] specialtactics commented on #23
No worries, also I will put in place some docs for validation this week. Good to see someone's reading the docs!

For now, validation revolves around the getValidationRules() function, which is actually documented in "getting started" anyway.

[2019-07-22 00:55] egdavid commented on #19
@specialtactics I could create a PR of my own implementation of Auth0 if you want.

[2019-07-22 02:27] specialtactics commented on #19
@egdavid If you've integrated it into the boilerplate, I would definitely love to see !

So long as it won't break any existing functionality and can be turned on/off, it should be fine.

[2019-07-22 07:11] egdavid commented on #19
@specialtactics in this particular case it will require some changes, there is no way to turn it on or off for example and I'm not sure it would not break the existing JWT auth system since I "got rid" of it.
However, I could try to produce a decent Pull Request for your boilerplate, asap (within the next week or so).
P.S.: this implementation will require a documentation to explain how M2M auth a

[2019-07-22 07:59] specialtactics commented on #19
No problem @egdavid , there's no rush for sure, as I myself wouldn't get to it for months. If you feel like contributing, it would be very welcome.

Dingo itself has configurable auth providers, I think that's the place to start to make it swappable.

[2019-08-16 15:16] egdavid commented on #19
@specialtactics I'm about to publish a PR with my own implementation of Auth0. You should probably create a Dev branch so I could publish it without affecting the main one?

[2019-08-17 01:28] connecteev opened #24 "Suggestion: Integrate Socialite auth into this package"
@specialtactics this isn't an issue per se, but I want to bring your attention to a codebase I've forked and gotten working that (might?) be good to integrate into this one.

Some context: My primary stack is nuxt (vue framework) for the frontend, talking to laravel apis. Check out a working version of laravel socialite with Nuxt.js here: https://github.com/connecteev/laravel-nuxt-authentication

[2019-08-17 03:04] specialtactics commented on #19
@egdavid Sure, I've pushed a "dev" branch, based off the latest master. Can't wait to see!

[2019-08-19 11:31] specialtactics commented on #24
Hey there @connecteev !

Thanks for your interest, I'm just on a holiday ATM so my replies may be far and few.

Basically, my vision for this project is very much for it to do only "one job", and do it well. I really don't want to bundle various other things into it, which are unrelated to backend APIs.

Beyond that, I also think that different concerns should live in different repositories, and I

[2019-08-19 13:07] connecteev commented on #24
Hey @specialtactics that makes sense, thanks for responding. I'll close this issue out in that case, and I'll let you know if I have any ideas for improving this boilerplate. Enjoy the vacation :)

[2019-08-19 13:07] #24 closed, assigned to nobody

[2019-08-21 11:48] sunder6218 opened #25 "Named routes not working using dingo api router"
Hey,

im moving my current project into Api using this boiler plate, and i have noticed that my laravel named routes dont work when using the dingo APi router.

`$api->get('/dashboard', 'PagesController@dashboard')->name('dashboard2');`

then i get this error from the controller

`Route [dashboard2] not defined.`

is there a particular reason why this is happening?

thanks

[2019-08-27 06:59] specialtactics commented on #24
Thanks @connecteev -  I forgot to mention one more thing, if you do end up following this approach, please get in touch, and I would love to mention your project in the boilerplate's readme as well, so that people know where to go to if they want to match a frontend boilerplate to it :smile:

[2019-08-27 07:01] specialtactics commented on #25
Hi

Can you please try the following syntax:

[code]

Also, what exactly are you doing in the controller to get that error?

[2019-08-29 06:05] connecteev commented on #24
@specialtactics will do, thanks

[2019-08-29 14:54] egdavid commented on #19
@specialtactics I'm updating the code based on the latest master and my public (unauthenticated) routes don't work anymore.
It happens only on endpoints that don't require authentication while being unauthenticated. As soon as I log in (on Postman), it works.
Here is the error:
[code]
Any idea?
It used to work before the boilerplate update. Models haven't been updated.

EDIT: seems like I've had s

[2019-09-02 11:33] specialtactics commented on #19
So did you fix the issue @egdavid ? I would advise, if you have unauthenticated routes, the model used by those controllers can't have a policy, since there wouldn't be any logged in user to check any access policies against.

[2019-09-02 13:37] JT501 opened #26 "[BUG] 'id' in response got unset if $primaryKey in Model set to 'id'"
**Version Information**
PHP Version: 7.3
Package Version (l5-api): 1.0.3

**Describe the bug**
The Primary got unset in response.

**To Reproduce**
Steps to reproduce the behavior:
Set $primaryKey = 'id' in Model.
Return response using BaseTransformer.

**Expected behavior**
Data with primary key.

**Additional context**
nope

I managed to find out the bug in `RestfulTransformer.php`.
[code]

I ad

[2019-09-02 13:46] JT501 commented on #26
I have submitted a pull request to l5-api

[2019-09-03 02:03] specialtactics commented on #26
Thanks for reporting! I will check out the PR

[2019-09-04 07:35] specialtactics commented on #26
Merged, thanks !

[2019-09-04 07:35] #26 closed, assigned to specialtactics, JT501

[2019-09-27 04:23] specialtactics commented on #25
Closing due to lack of feedback in a month.

If you still have this issue, feel free to let me know - but also, probably you actually should submit it in the dingo repo.

[2019-09-27 04:23] #25 closed, assigned to specialtactics

[2019-11-13 08:41] codeace opened #32 "[BUG]"
**Version Information**
PHP Version: 7.3
Package Version (l5-api): 1.0

**Describe the bug**
Unable to use with laravel nova. Nova Login page just refresh when the correct credentials are supplied.

**To Reproduce**
Steps to reproduce the behavior:
1. Install laravel nova
2. Try to login to Nova

**Expected behavior**
Should be able to login with the correct credentials

**Additional context**
Loo

[2019-11-14 06:04] specialtactics commented on #32
Hey @codeace thanks for reporting.

Sorry but, I can't consider it as a bug if it's just an incompatibility between an external dependency and a third party package.

The more appropriate place to report this might be in the dingo repo - but even so, I think it's actually just a matter of configuration, for how to integrate the two packages correctly.

If you are willing to do the work, let us kno

[2019-11-14 06:04] #32 closed, assigned to nobody

[2019-11-18 03:26] libaowei924 opened #33 "Routing access"
I installed this project, but didn't my interface routing add an API after the address? Why can't you access it?

[2019-11-18 03:27] specialtactics commented on #33
Hey @libaowei924

Sorry but I can't quite understand the issue, can you please describe in more detail?

[2019-11-18 03:31] libaowei924 commented on #33
Should I add an API after the link? Such as http://laravel-api-boilerplate.test/api/home

[2019-11-18 05:10] libaowei924 commented on #33
Should I add an API after the link? Such as http://laravel-api-boilerplate.test/api/home

404 no matter how I access it

[2019-11-18 05:11] libaowei924 commented on #33
@specialtactics

[2019-11-18 05:28] libaowei924 commented on #33
Only docker?

[2019-12-11 00:10] vafrcor opened #34 "[BUG] Testing cannot read route URI by name"
**Version Information**
PHP Version: `7.2.1`
Package Version (l5-api): `v1.2.1`

**Describe the bug**
- File `tests/Api/UserControllerTest`
- Case: Unable to read route uri by named-route
- sample code:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project path
2. Run `phpunit`
3. See error

**Expected behavior**
Named route URI can be read on phpunit testing mode.

**Addition

[2020-01-03 08:23] specialtactics commented on #33
Hi, how are you sending these messages? I Cannot find on github

On Mon, Nov 18, 2019 at 4:28 PM libaowei924 <notifications@github.com>
wrote:

[2020-01-03 08:30] #33 closed, assigned to nobody

[2020-01-04 07:29] specialtactics commented on #34
Hi

The problem is actually with the dingo/api package, not this package.

However since you made this ticket that problem has also been resolved (I'm pretty sure), so just update your packages.

In any case, if you still face difficulties with this, please report to dingo/api github.

[2020-01-04 07:29] #34 closed, assigned to nobody

[2020-04-02 22:02] mroushdy commented on #19
Hey guys, +1 on this. Any updates?

[2020-04-02 22:41] specialtactics commented on #19
No updates sorry, not a priority unfortunately at the moment !

[2020-04-03 00:16] mroushdy commented on #19
How compatible is this boiler plate if laravel changes in the future but
the boiler plat did not? Are the changes to laravel a lot? Or is it mostly
outside of changes to the laravel framework?

On Thu, Apr 2, 2020 at 3:41 PM Max <notifications@github.com> wrote:

[2020-04-03 06:20] specialtactics commented on #19
@mroushdy Nothing of laravel is changed actually, it all works through packages and inheritance. It's the same version of Laravel as any other.

[2020-05-04 09:49] k2gsalem opened #35 "[BUG]"
on creating a new user with the role return 500 Internal Server Error with
"message": "Return value of App\\Entities\\User::getStoredRole() must implement interface Spatie\\Permission\\Contracts\\Role, null returned",
how to solve this issue

[2020-05-04 13:28] specialtactics commented on #35
Hey, it seems like the issue you are having is with an unrelated package, not any related to this boilerplate.

[2020-05-04 14:11] k2gsalem commented on #35
sorry wrong package

[2020-05-04 14:11] #35 closed, assigned to nobody

[2020-05-17 12:16] devmansurov opened #42 "[BUG] Class name must be a valid object or a string"
**Version Information**
PHP Version: 7.4.5
Laravel Version: 7.11
Package Version (l5-api): ^2.0

**Describe the bug**
After installing and creating an example controller and model using command `php artisan make:api-resource Book`, I get an error when sending a request to API. Headers are setted on request.

**Error**
[code]

[2020-07-07 22:43] Eolykab opened #43 "[BUG]"
**Version Information**
PHP Version:
Package Version (l5-api):

**Describe the bug**
I am getting an error when trying to setup docker.
configure: error: Package requirements (oniguruma) were not met:

No package 'oniguruma' found

Consider adjusting the PKG_CONFIG_PATH environment variable if you
installed software in a non-standard prefix.

Alternatively, you may set the environment variables ON

[2020-07-08 02:29] specialtactics commented on #43
Hey @Eolykab

Would I be correct to say you are trying to compile PHP 7.4 image ?

[2020-07-08 06:42] Eolykab commented on #43
Yes correct

[2020-07-09 00:19] specialtactics commented on #43
Hey @Eolykab , I will update the boilerplate to make PHP 7.4 default (for some reason I thought this was already the case)

Meanwhile, to fix this I think all you need to do is add this to the list of packages being installed at the top of the Dockerfile of the "php-fpm" and "workspace "containers (inside env/docker)

`
    libonig-dev \
`

[2020-07-09 08:29] Eolykab commented on #43
Works like a charm. Thanks

[2020-07-09 13:34] specialtactics commented on #43
tagged as v2.0.3

[2020-07-09 13:34] #43 closed, assigned to nobody

[2020-07-09 13:36] specialtactics commented on #42
Hi, sorry not sure how I missed this.

So it seems like you didn't specify the model name inside of the controller's $model property. You need to do that. You can find examples in the docs (in the wiki)

[2020-07-09 13:36] #42 closed, assigned to nobody

[2020-07-23 10:12] Eolykab opened #45 "Deployment of laravel-api-boilerplate"
This is not a feature request. I just want to know the best option to deploy this project.

[2020-07-26 08:26] specialtactics commented on #45
Hey

Well, there is nothing special about this boilerplate - infrastructure wise, the answer would be the same for how to deploy any Laravel application or just about any PHP project. And this will depend on the scale of your project and the amount of time and money you want to put into the infrastructure, etc.

I have many different deployment schemes across both personal and professional project

[2020-07-26 08:26] #45 closed, assigned to nobody

[2021-04-05 04:22] nguyenpr9 opened #50 "Question about filtering/sorting"
How can i filter,sort? Any doc,wiki for this?

[2021-04-06 16:18] heidbyte commented on #50
Same problem for me

[2021-04-09 04:08] Tarhex opened #51 "I can't access view from the web routes"
I want to run a web application side by side with a mobile application. I have enabled the web route in the RouteServiceProvider.php but when I try to access a page via route, I get an error that `InvalidArgumentException
View [index] not found.`.

Please , how do I solve this?

[2021-04-09 04:22] Tarhex commented on #51
I just found out that `views` folder was not existing, I created one and that was it.

[2021-04-09 04:22] #51 closed, assigned to nobody

[2021-04-30 10:55] specialtactics commented on #50
Hey

There's a number of third party packages that you can use for this, personally, I use https://github.com/Tucker-Eric/EloquentFilter and there is also a spatie one. Both of these I plan to integrate more deeply into the boilerplate, but there's actually no reason you can't just use it normally.

[2021-05-13 14:11] specialtactics opened #52 "Migrate faker repo"
Since the original faker repo is no longer maintained, in order to achieve php 8 support and regardless, need to migrate to:

https://github.com/FakerPHP/Faker

[2021-06-05 12:46] kfoon opened #56 "getAll() pagenation"
getAll() how to set the number of page and also get the next page

[2021-06-05 13:17] specialtactics commented on #56
There's no way to get the number of pages. This is just to do with how pagination works - it's a constrain of speed (ie. not every database can efficiently count rows, so getting number of pages is an inefficient operation).

Going to the next page is as per normal in laravel - ie. `page` query param.

[2021-06-06 11:28] specialtactics commented on #52
Well, this was easier than expected.

[2021-06-06 11:28] #52 closed, assigned to specialtactics

[2021-06-07 20:30] kfoon commented on #50
I try to add this function for the RestfulController

public function getAllWithFilter(Request $request)
    {
        $this->authorizeUserAction('viewAll');

        $model = new static::$model;

        // If we are caching the endpont, do a simple get all resources
        if (static::$cacheAll) {
            return $this->response->collection(Cache::remember(static::getCacheKey(), static::$cac

[2021-06-07 20:33] kfoon commented on #50
i will try to add an if for the date between and see how it comes out

[2021-06-08 05:12] specialtactics commented on #50
What we do in our projects at the moment is just use eloquent filter which does all of this type of stuff. The integration between that package and the boilerplate is super simple, and all you need to do is add this in the controller for the relevant mode/endpoint:

[code]

Then you can add whatever filtering and other logic you like in the model's filter class as per eloquentfilter docs.

[2021-06-09 17:06] kfoon commented on #50
This is the error i have when i add this to the contorller:

  "message" => "Call to undefined method Specialtactics\L5Api\Models\Builder::filter()"
  "statusCode" => 500

[2021-06-10 03:27] specialtactics commented on #50
You need to actually install eloquentfilter and set it up on the model first though.

[2021-06-10 15:21] kfoon commented on #50
finally got my function working with the date between:

so the request should be like:

$params = ['per_page' => 500, 'page' => 1,  'status' => $request->status, 'created_at' => "2021-03-18,2021-03-18"];

`public function getAllWithFilter(Request $request)
    {
        $this->authorizeUserAction('viewAll');

        $model = new static::$model;

        // If we are caching the endpont, do a simp

[2021-06-16 16:07] kfoon opened #59 "Error on patch"
"message": "Call to a member function validateResourceUpdate() on null",
    "statusCode": 500,
    "debug": {
        "line": 256,
        "file": "/var/www/html/funi-api-vi/vendor/specialtactics/l5-api/src/Http/Controllers/RestfulController.php",
        "class": "Error",

but the $request->input() and $model all has data

[2021-06-17 05:34] specialtactics commented on #59
Can you please provide more details? Could you please also use the reporting an issue template?

There are also not that many lines in that file.

Have you customised the controller constructor and/or restfulservice in some way?

[2021-06-17 09:33] kfoon commented on #59
Yes i have a constructor on my controller:

class UserController extends ApiController
{
    public static $model = User::class;

     /**
     * @var UserRepository
     */
    private $users;

    /**
     * UsersController constructor.
     * @param UserRepository $users
     */
    public function __construct(UserRepository $users)
    {
        $this->users = $users;
    }
.......

[2021-06-19 05:40] specialtactics commented on #59
So if you have a look at the RestfulController, you'll see it's constructor already takes one parameter.

You can add more parameters to your own controller, but you still need to be compatible - so do what the restful controller does and pass the first parameter to the parent controller. If you use an IDE, it should make this error clear, as essentially you are not using PHP inheritance correctly

[2021-06-19 05:51] #50 closed, assigned to nobody

[2021-11-05 07:06] xinfox-ltd opened #60 "Does not support php8.0？"
composer create-project

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - specialtactics/l5-api[v3.0.0-beta1, ..., v3.0.1] require php ^7.3 -> your php version (8.0.3) does not satisfy that requirement.
    - Root composer.json requires specialtactics/l5-api ^3.0 -> satisfiable by specialtactics/l5-api[v3.0.0-beta1, v3.0.0, v3.0.1].

[2021-11-24 00:22] abikali opened #61 "[F-REQ] SSL Support"
I'm currently using this boilerplate to host an api, and linked to a domain name api.example.com.

I need to serve the domain through ssl but it seems the docker-compose file only supports port 80? Would I need to edit the nginx config files in order to make it run over HTTPS? my domain is under cloudflare

[2022-01-22 13:08] specialtactics commented on #60
Hey there, I think it's easier to add PHP 8 support with laravel 9, the main reason is that there are upstream repos that are not compatible with php 8, I think the jwt-auth, however that was taken over recently by a new php group, so I will take a look to see if I can do it with the current version of the boilerplate.

[2022-01-26 15:31] specialtactics commented on #61
Hey @abikali this is more of an infrastructure question, the docker setup which comes with the boilerplate is purely for local usage.

How you set up your infrastructure for SSL is up to you, but it's not related to this boilerplate, or even Laravel itself.

You can for sure google for help on this topic and nginx configs, but it's just very outside of the scope of this project, so I cannot help y

[2022-01-26 15:31] #61 closed, assigned to nobody

[2022-02-08 13:41] specialtactics commented on #60
Hey @xinfox-ltd PHP 8 support has been added to the dependency package.

[2022-02-08 13:41] #60 closed, assigned to specialtactics

[2022-02-08 13:41] #59 closed, assigned to nobody

[2022-02-08 13:42] #56 closed, assigned to nobody

[2022-02-12 00:16] wdrozdz opened #63 "[BUG]"
**Version Information**
PHP Version: 8.1
Package Version (l5-api):

**Describe the bug**
docker-compose up cause

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. download project
2. docker-compose up in console

[2022-02-14 13:55] specialtactics commented on #63
Thanks @wdrozdz this has been fixed, simply pull latest master or tag.

[2022-02-14 13:55] #63 closed, assigned to nobody

[2022-02-20 08:03] Master-maynd commented on #19
Hello Dear
Thanks for the great work.
Kindly help if you have time,
when I run **composer test** it gives me this error. I have mysql I dont use POSTGRES

PHPUnit 9.5.12 by Sebastian Bergmann and contributors.

Error in bootstrap script: Illuminate\Database\QueryException:
could not find driver (SQL: select tablename from pg_catalog.pg_tables where schemaname in ('public'))
Script ./vendor/bin/php

[2022-02-20 09:09] michaelvaes commented on #19
@Master-maynd `mysql` should be the default indeed, let's make sure it's set like that
 - The default driver in `config/database.php` should be `mysql`
   - `'default' => env('DB_CONNECTION', 'mysql'),`
 - The `DB_CONNECTION` in `.env` should be set to `mysql`
   - `DB_CONNECTION=mysql`
 - Make sure that in `phpunit.xml` you are not overriding the `DB_CONNECTION` setting above

If it all fails I s

[2022-02-26 12:56] Master-maynd opened #65 "problem with current test unit"
with mysql it composer test gives an error
Error in bootstrap script: Illuminate\Database\QueryException:
SQLSTATE[08006] [7] received invalid response to SSL negotiation: Y (SQL: select tablename from pg_catalog.pg_tables where schemaname in ('public'))

[2022-03-05 08:51] Master-maynd commented on #65
when testing sqllite is set to memory this code
`$console->call('migrate:fresh', ['--seed' => true]);`
 in he bootstrap file does not create the tables and all db tests fail. Kindly help

[2022-08-20 09:23] specialtactics commented on #65
Hey @Master-maynd that error is a postgres error, I think you haven't changed your local setup properly to MySQL if you are intending to use that.